<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
      Home
    </ion-tab-button>
    <ion-tab-button tab="components">
      <ion-icon name="cube-outline"></ion-icon>
      Components
    </ion-tab-button>
    <ion-tab-button tab="searchs">
      <ion-icon name="search-outline"></ion-icon>
      Search
    </ion-tab-button>
    <ion-tab-button tab="details">
      <ion-icon name="menu-outline"></ion-icon>
      Details
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
